<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand text-primary" href="#">Connect 247</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-3">
            <a class="nav-link active text-primary" aria-current="page" href="#">My Account</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-primary ml-3" href="#">Doc Share</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-primary ml-3" href="#">Contact Us</a>
          </li>
          <li class="nav-item me-5">
            <a class=" nav-link text-primary ml-3" href="#">Pay Now</a>
          </li>
       
        
           <li class="nav-item me-5">
                <a class="nav-link disabled" href="#"><i class="fa-solid fa-phone"></i> 874-4574-789</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fa-solid fa-envelope"></i> technical.teamsupport@provana.com</a>
              </li>
            </ul>
            <form class="d-flex">
              <i class="fa-solid fa-user bg-primary text-white"></i>
            <a href="#" class="nav-link text-white bg-danger num">132</a>
            </form>
      </div>
    </div>
  </nav>